.btn-secondary{
    color: #333;
    border: white;
    background-color: rgb(235, 235, 235);
}

.btn-secondary:hover{
    color: rgb(0, 255, 200);
    background-color:#333;
}
.btn-secondary:focus{
    color: #333;
    text-shadow: none;

}

.cover-container{
    background-image: url("nycskyline.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-link {
    color:rgb(0, 255, 200);
}
.nav-link:hover{
    color:rgb(235, 235, 235)
}

h3 {
    color:rgb(0, 255, 200)
}