.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus{
    color: #333;
    text-shadow: none;

}

.cover-container{
    background-image: url("nycskyline.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}